/*
background-color: rgba(0, 255, 255, 0.3 );
*/


/*reset de css || elimina los estilos por defecto de los navegadores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* max-width: 1300px; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    
}
main{
    flex-grow: 1;
}



/*--------NAV VIEJO--------*/
/*
.navegador_y_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 


.navegador_y_logo nav{
    padding-right: 0.5%;
}
.navegador_y_logo ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navegador_y_logo li{
    margin:  0 15px;
}
.navegador_y_logo a{
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2rem;
    display: block;
    
}
.navegador_y_logo a:hover{
    color: white;
    text-decoration: underline;
}
*/



/*
header section img{
    max-width: 10%;
}

header section nav{
    width: 90%;
}*/


.nav-item a{
    font-size: 1.3rem;
}
.nav-item a:hover{
    color: white;
    text-decoration: underline;
}

.navegador_y_logo{
    background-color: rgba(0, 255, 255, 0.3 );
}


.precentacion_home{
    display: flex;

    flex-direction: column;
    align-items: center;
    align-content: center;
}




nav a{
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;

}




/*IMAGEN PRINCIPAL*/
#img_home{
    max-width: 1255px;
}












h1,h2,h3{
    font-family: "Sour Gummy", serif;
}

h1{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.7rem;
}

p{
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
}





/* MINI GALERIA DE IMG*/
.galeria_imagenes{
    background-color: rgba(0, 0, 255, 0.2);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: space-around;/*horisontal*/
    align-items: center;/*vertical*/

    padding: 20px 0;

}
.galeria_imagenes img{
    max-width: 250px;
    max-height: 200px;
}
/* .galeria_imagenes_item{
    width: 25%;
} */








/* PARA LA PAJINA DE PRODUCTOS PENSADA PARA TRABAJAR CON FLEX */

/* 



.sectionExplicacionProductos{
    border: 1px solid black;
    margin: 20px 0;
    
} */

.contenedorMainProductos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.contenedorMainProductos .sectionExplicacionProductos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
}


.seccionImagenYDescripcionProductos{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    margin: 1px;
    justify-content: space-around;
    align-items: center;
}

.seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_Descripcion{
    width: 50%;
}

.seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_carousel{
    max-width: 500px;
    max-height: 375px;
}

.carousel-item img{
    max-width: 500px;
    max-height: 375px;
}

























/* PARA LA PAJINA DE SERVICIOS PENSADA PARA TRABAJAR CON GRID*/
.contenedor-grid-servicios{
    display: grid;
    grid-template-columns: 55% 35%;
    grid-template-rows: 300px repeat(3, 300px) ;

    grid-template-areas: 
    "tituloYDescripcion tituloYDescripcion"
    "servicio1Descripcion servicio1Foto"
    "servicio2Descripcion servicio2Foto"
    "servicio3Descripcion servicio3Foto";

    justify-content: center;

    
    /*acomoda a todos los hijos*/
    align-items: center;/*centra de forma vertical*/
    justify-items: center;/*centra de forma horizontal*/
    
}


.tituloYDescripcionServicios{
    grid-area: tituloYDescripcion ;
    display: flex;
    flex-direction: column;

    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
    text-align: center;

}



.gridDescripcionYTituloServicio_1{
    grid-area: servicio1Descripcion;
    display: flex;
    flex-direction: column;

    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
    text-align: center;
}
.grid_img_servicio_1{
    grid-area: servicio1Foto;
}



.gridDescripcionYTituloServicio_2{
    grid-area: servicio2Descripcion;
    display: flex;
    flex-direction: column;

    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
    text-align: center;
}
.grid_img_servicio_2{
    grid-area: servicio2Foto;
}



.gridDescripcionYTituloServicio_3{
    grid-area: servicio3Descripcion;
    display: flex;
    flex-direction: column;

    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
    text-align: center;
}
.grid_img_servicio_3{
    grid-area: servicio3Foto;
}



/*--------------NOSOTROS -------------*/
/* PENSADO PARA TRABAJAR CON GRID */

.contenedor-grid-nosotros img{
    width: 80%;
    height: 80%;
}
.contenedor-grid-nosotros{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 300px repeat(6, 500px);

    grid-template-areas:
    "tituloDescripcion tituloDescripcion tituloDescripcion"
    "fotoNosotros1 textoNosotros1 textoNosotros1"
    "fotoNosotros1 fotoNosotros2 fotoNosotros2"
    "textoNosotros2 fotoNosotros3 textoNosotros3"
    "fotoNosotros4 fotoNosotros4 textoNosotros4"
    "fotoNosotros5 textoNosotros5 fotoNosotros6"
    "textoNosotros6 fotoNosotros7 fotoNosotros7"
    ;

    justify-content: center;

    align-items: center;
    justify-content: center;
}


.grid-titulo-y-descripcion-nosotros{
    grid-area: tituloDescripcion ;
    text-align: center;
}

.grid-texto-nosotros-1{
    grid-area: textoNosotros1 ;
    text-align: center;
}
.grid-texto-nosotros-2{
    grid-area: textoNosotros2 ;
    text-align: center;
}
.grid-texto-nosotros-3{
    grid-area: textoNosotros3 ;
    text-align: center;
}
.grid-texto-nosotros-4{
    grid-area: textoNosotros4 ;
    text-align: center;
}
.grid-texto-nosotros-5{
    grid-area: textoNosotros5 ;
    text-align: center;
}
.grid-texto-nosotros-6{
    grid-area: textoNosotros6 ;
    text-align: center;
}



.grid-imagen-nosotros-1{
    grid-area: fotoNosotros1;
    justify-self: center ;
    align-self: center ;

}
.grid-imagen-nosotros-2{
    grid-area: fotoNosotros2;
    justify-self: center ;
    align-self: center ;
}
.grid-imagen-nosotros-3{
    grid-area: fotoNosotros3;
    justify-self: center ;
    align-self: center ;
}
.grid-imagen-nosotros-4{
    grid-area: fotoNosotros4;
    justify-self: center ;
    align-self: center ;
}
.grid-imagen-nosotros-5{
    grid-area: fotoNosotros5;
    justify-self: center ;
    align-self: center ;
}
.grid-imagen-nosotros-6{
    grid-area: fotoNosotros6;
    justify-self: center ;
    align-self: center ;
}
.grid-imagen-nosotros-7{
    grid-area: fotoNosotros7;
    justify-self: center ;
    align-self: center ;
}



/*-------------EVENTOS Y CAPACITACIONES-----------*/
/*Pensado para trabajar con responsive BOOSTRAP*/


.padreEventos img{
    width: 100%;
    max-width: 500px;
    max-height: 375px;
}

.padreCapacitaciones img{
    width: 100%;
    max-width: 500px;
    max-height: 375px;
}












footer{
    background-color: rgba(0, 255, 255, 0.3 );
    height: 100px;
}
footer p{
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    align-items: center;/*VERTICAL */
}
.footer_2{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    
}

/*MEDIA QUERY*/
/* mobile hasta 500px */

@media( max-width:500px ){

    body{
        max-width: 500px;
    }

    .navegador_y_logo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navegador_y_logo ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    #img_home{
        max-width: 100%;
    }

    .galeria_imagenes{
        background-color: rgba(0, 0, 255, 0.2);
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    
        justify-content: space-around;/*horisontal*/
        align-items: center;/*vertical*/
    
    }
    .galeria_imagenes_item{
        max-width: 23%;
        max-height: 23%;
    }
    .galeria_imagenes img{
        max-width: 100%;
        max-height: 100%;
    }













    
    /* PARA LA PAGINA DE PRODUCTOS (Y EVENTOS Y CAPACITACIONES POR AHORA) PENSADA PARA TRABAJAR CON FLEX */

    .contenedorMainProductos{

        flex-wrap: wrap;
    
    }



    .seccionImagenYDescripcionProductos{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid blueviolet;
        border-top: 1px solid blueviolet;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
    }

    .seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_Descripcion{
        width: 100%;
        margin: 10px 0px;
    }

    .sectionExplicacionProductos{
        text-align: center;
    }



    /* PARA LA PAJINA DE SERVICIOS PENSADA PARA TRABAJAR CON GRID*/
    
    .contenedor-grid-servicios{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 450px repeat(6, 400px) ;
    
        grid-template-areas: 
        "tituloYDescripcion "
        "servicio1Descripcion" 
        "servicio1Foto"
        "servicio2Descripcion"
        "servicio2Foto"
        "servicio3Descripcion"
        "servicio3Foto"
        ;
    
        justify-content: center;
    
        
        /*acomoda a todos los hijos*/
        align-items: center;/*centra de forma vertical*/
        justify-items: center;/*centra de forma horizontal*/
        margin-top: 20px;
        
    }


    .contenedor-grid-servicios img{
        width: 90%;
    }

    
    /*--------------NOSOTROS -------------*/
    /* PENSADO PARA TRABAJAR CON GRID */


    .contenedor-grid-nosotros img{
        width: 80%;
        height: 80%;
    }
    .contenedor-grid-nosotros{
        display: grid;
        grid-template-columns: 90% ;
        grid-template-rows: 600px 500px 400px 500px 400px 500px 400px 500px 400px 500px 400px 500px 400px;
    
        grid-template-areas:
        "tituloDescripcion"
        
        "fotoNosotros1"
        "textoNosotros1"
        
        "fotoNosotros2"
        "textoNosotros2" 
        
        "fotoNosotros3"
        "textoNosotros3"
        
        "fotoNosotros4"
        "textoNosotros4"
        
        "fotoNosotros5" 
        "textoNosotros5" 
        
        "fotoNosotros6"
        "textoNosotros6" 
        ;
    
        justify-content: center;
    
        align-items: center;
        justify-content: center;
    }

    #grid-imagen-nosotros-7{
        display: none;
    }

    header{
        margin-bottom: 20px ;
    }


}