




.navegador_y_logo{

    background-image: linear-gradient( to left, $colorPrincipal, rgba(0, 255, 255, 0.05 ) ) ;

    .nav-itemNosotros{
        font-size: 1.3rem;
        text-decoration: none;
        font-family: "Libre Baskerville", serif;
        text-transform: capitalize;
        color: auto;
        margin-left: 10px;
        transform: scale( 1, 1 );
        transition: color 1.0 ease, text-decoration 1.0 ease , transform 1.0 ease;
        
        &:hover{
            color: white;
            text-decoration: underline;
            transform: scale( 1.2, 1.2 );
        }
    
    }

    .nav-itemProductos{
        @extend .nav-itemNosotros;
    }
    .nav-itemServicios{
        @extend .nav-itemNosotros;
    }
    .nav-itemEventosYCapacitaciones{
        @extend .nav-itemNosotros;
    }
    .nav-itemContacto{
        @extend .nav-itemNosotros;
    }

}






