




.navegador_y_logo{

    background-image: linear-gradient( to left, $colorPrincipal, rgba(0, 255, 255, 0.05 ) ) ;

    .nav-itemNosotros{
        font-size: 1.3rem;
        text-decoration: none;
        font-family: "Libre Baskerville", serif;
        text-transform: capitalize;
        color: auto;
        transition: font-size 1.0 ease, color 1.0 ease, text-decoration 1.0 ease ;


        //----preguntar si es posible o como
        // a:hover{
        //     color: white;
        //     text-decoration: underline;
        //     font-size: 1.5rem;
        // }

    }
    .nav-itemNosotros:hover{
            color: white;
            text-decoration: underline;
            font-size: 1.5rem;
    }

    .nav-itemProductos{
        @extend .nav-itemNosotros;
    }
    .nav-itemServicios{
        @extend .nav-itemNosotros;
    }
    .nav-itemEventosYCapacitaciones{
        @extend .nav-itemNosotros;
    }
    .nav-itemContacto{
        @extend .nav-itemNosotros;
    }

    //este hover toma a todas las class nav-item, entiendo que es por el extend en cada una. pero no se por que toma como que el hover se extiende tambien del .nav-itemNosotros original cuando esta por afuera de el. igual funciona
    








    // .nav-itemProductos:hover{
    //     @extend .nav-itemNosotros a:hover;
    // }


}






